@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');

*{
  margin: 0;
  padding: 0;
}


html {
  min-height: 100%;
  /*background-color: #f2ed6b4b;*/
  background-image: url(./background.JPG);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 40px;
  color: white;
  padding: 10px;
  position: fixed;
}

.pageTitle {
  font-family: 'Romanesco', cursive;
  font-size: 75px;
  font-weight: 500;
  color: white;
  background-color: black;
  padding-left: 25px;
  opacity: 80%;
}

.calculator{
  display: flex;
 justify-content: center;
  align-items: center;
 display: flex; 
 flex-direction: column;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 width: 600px;
 height: 400px;
 text-align: center;
 background-color: black;
 color: white;
 opacity: 80%;
 border-radius: 10px;
 margin: 60px 0px 60px 55px;
}

.body{
 display: flex; 
 flex-direction: column;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 width: 50%;
 text-align: center;
 background-color: black;
 color: white;
 border-radius: 20%;
}

.tankPressureRow {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
}

.finalResult {
  text-align: center;
}

.pressureInput {
  height: 25%;
  display: flex;
  justify-content: end;
  border-radius: 5%;
}

.answerButton {
  text-align: center;
  color: white;
  border: solid black 1px; 
  background-color: grey;
  width: 100px;
  cursor: pointer;
  margin: 1.5%;
  padding: 0.5%;
  border-radius: 5%;
}


.detailsSubDif{
  clear: right;
}

.SubDifSpan{
  float:left;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  opacity: 85%;
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

