@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');

*{
  margin: 0;
  padding: 0;
}


html {
  min-height: 100%;
  /*background-color: #f2ed6b4b;*/
  background-image: url(./background.JPG);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 40px;
  color: white;
  padding: 10px;
  position: fixed;
}

.pageTitle {
  font-family: 'Romanesco', cursive;
  font-size: 75px;
  font-weight: 500;
  color: white;
  background-color: black;
  padding-left: 25px;
  opacity: 0.8;
}

.calculator{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 width: 600px;
 height: 530px;
 background-color: black;
 color: white;
 opacity: 0.8;
 border-radius: 10px;
 margin: 60px 0px 60px 55px;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0,0,0,0.7);
}

.tankPressureRow {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 10px 0px 10px 0px;
}

.finalResult {
  text-align: center;
}

.pressureInput {
  display: flex;
  justify-content: flex-end;
  border-radius: 3px;
}

.answerButton {
  display: flex;
  justify-content: center;
  color: white;
  border: solid black 1px; 
  background-color: grey;
  width: 120px;
  cursor: pointer;
  margin: 1.5%;
  padding: 0.5%;
  border-radius: 3px;
}

.divLine {
  width: 99.6%;
  margin: 10px 0px 10px 0px;
}

#footerText:hover {
  color: yellow;
}

#footerText {
  color: white;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}
