@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');

*{
  margin: 0;
  padding: 0;
}


html {
  min-height: 100%;
  /*background-color: #f2ed6b4b;*/
  background-image: url(./background.JPG);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

.header {
display: wrap;
width: 100%;
background-color: black;
color: white;
opacity: 0.8;
position: relative;
padding-top: 10px;
}

.pageTitle {
  font-family: 'Romanesco', cursive;
  font-size: 75px;
  font-weight: 500;
  color: white;
  padding-left: 25px;
}

.menuBar {
  float: right;
  background-color: black;
  width: 100%;
  color: white;
}

#menuItems {
  float: right;
  padding: 0px 15px 5px 15px;
  cursor: pointer;
  font-weight: 500;
}

.calcTitle {
  color: white;
}

.calculator{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 width: 600px;
 height: 530px;
 background-color: black;
 color: white;
 opacity: 0.8;
 border-radius: 10px;
 margin: 60px 0px 60px 55px;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0,0,0,0.7);
}

.tankPressureRow {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 10px 0px 10px 0px;
}

.finalResult {
  text-align: center;
}

.pressureInput {
  display: flex;
  justify-content: flex-end;
  border-radius: 3px;
}

.answerButton:hover {
  color: #000000;
  border: #000000 solid 1px;
  background:#fff;
}

.answerButton {
  display: flex;
  justify-content: center;
  color: white;
  border: solid black 1px; 
  background-color: grey;
  font-size: medium;
  width: 120px;
  cursor: pointer;
  margin: 1.5%;
  padding: 0.5%;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(54, 54, 54, 0.5), 0 1px 1px rgba(145, 144, 144, 0.7);
}

.divLine {
  width: 99.6%;
  margin: 10px 0px 10px 0px;
}

#footerText:hover {
  animation-name: footer-hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes footer-hover {
  100% {
    opacity: 1.0;
  }
}

#footerText {
  color: white;
  opacity: 0.5;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

@media (max-width: 450px) {

  .header {
    width: 100vw;
  }

  .calculator{
    width: 370px;
    margin: 60px 10px 60px 20px;
   }
  
   .tankPressureRow {
    font-size: 85%;
   }

   .calcTitle {
     font-size: large;
   }
}